.concat-backimg {
  padding-top: 45px;
  width: 100%;
  height: calc(88vmin);
  background-image: url("https://gw.alicdn.com/tfs/TB1MsHqbGWs3KVjSZFxXXaWUXXa-1125-962.png");
  background-size: cover;
}
