@import '../scss/common.scss';
.disflex {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.mt10 {
    margin-top: 0.5rem;
}
.mt20 {
     margin-top: 1rem;
}
.mt30 {
    margin-top: 1.5rem;
}
.heig5 {
    height: 6.6rem;
}
.img-posit {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.w63 {
    width: 63%;
}
.w37 {
    width: 37%;
}
