@import '../scss/common.scss';
.disflex {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.mt20 {
    margin-top: 0.5rem;
}
