$fontSize6: 0.6rem;
$homePageHeader: rgb(255, 201, 0);
$homgPageBackcolor: #fdb900;

$height20: 1rem;
$height30: 1.5rem;
$height40: 2rem;
$heig2: 2rem;
$height9: 9rem;

$dist10: 0.5rem;
$dist100: 5rem;
